/* General lay out */
html{
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  color: #7B0707;
}

* {
  box-sizing: border-box;
}

/* header, div, main, footer {
  border: 1px solid red;
  padding: 10px;
} */

.flexcontainer{
  display: flex;
}

strong{
  font-weight: bold;
}

.nav {
  justify-content: space-around;
}

.left {
  justify-content: center;
  width: 60%;
}

.title{
  color: #9B0000;
  font-size: 2.5rem;
}

main, div .right, div .left, .texts, .banner3 .blocks .block, .banner4 .blocks, .banner3, .banner4{
  flex-direction: column;
}

header, footer, .banner1, .banner2, .banner3, .banner4{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header, footer {
  justify-content: space-between;
}

.banner1 .right, .banner2 .right, .banner4 .right{
  width: 423px;
  flex-grow: 1;
}

/* Right side of banner 2 and 4 lay out */
.banner2 .right, .banner4 .right{
  align-items: flex-start;
}

.banner2 .right .image, .banner4 .right .image{
  width: 35%;
  justify-content: flex-start;
}

.banner2 .right .texts, .banner4 .right .texts{
  width: 65%;
  justify-content: flex-start;
}

.banner2 .right .block img, .banner4 .right .block img{
  padding: 1rem;
  width: 100%;
}

.banner4 .right{
  margin-top: 0rem;
  border-left: 1px solid #E7E7E7;
}

.banner4 .right .block{
  padding: 0 0 2rem 0;
  border-bottom: 1px solid #E7E7E7;
}

/* Texts in blocks lay out */
.banner2 .right .texts div:nth-child(1),
.banner3 .texts div:nth-child(1),
.banner4 .texts div:nth-child(1){
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.banner2 .right .texts div:nth-child(2),
.banner3 .texts div:nth-child(2),
.banner4 .texts div:nth-child(2){
  padding: 0.5rem 0;
}

.banner2 .right .texts div:nth-child(3),
.banner3 .texts div:nth-child(3){
  padding: 0.5rem 0;
}

/* Header lay out */

header{
  height: 4rem;
  align-items: center;
  background-color: #E4D6D6;
}

.logo-text{
  align-items: center;
  flex-grow: 1;
}

.nav-item{
  margin-left: 0.75rem;
  padding: 0.5rem;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
}

.nav-item:hover{
  background: #9B0000;
  color: white;
}

/* First banner lay out */
.banner1{
  background-color: #E7E7E7;
}

.banner1 .image{
  margin: 2rem 1.5rem 2rem 0;
  max-width: 100%;
}

.banner1 img{
  width: 100%;
}

.banner1 .right{
  justify-content: center;
  margin-left: 1rem;
}

.banner1 .texts div:nth-child(1){
  font-weight: bold;
  padding-bottom: 1rem;
}

.banner1 .texts div:nth-child(2){
  font-weight: bold;
}

.banner1 .texts div:nth-child(3){
  text-align: center;
  color: white;
  background: #9B0000;
  padding: 0.5rem;
  margin-top: 2rem;
  opacity: 0.8;
  transition: opacity 0.15s ease-in-out;
}

.banner1 .texts div:nth-child(3):hover{
  opacity: 1;
}

a,a:link,a:visited{
  text-decoration: none;
  color: white;
}

/* Second banner lay out */
.banner2 .left{
  margin-top: 2rem;
}

.banner2 .left .image{
  margin: 0rem 1.5rem 2rem 0;
  max-width: 100%;
}

.banner2 .title{
  padding-bottom: 1.5rem;
}

.banner2 .left .text{
  padding-bottom: 1.5rem;
}

.banner2 .left img{
  width: 100%;
}

.banner2 .right .texts div:nth-child(3){
  color: #E60000;
  transition: text-decoration 0.15s ease-in-out;
}

.banner2 .right .texts div:nth-child(3):hover{
  text-decoration: underline;
}

/* Third banner lay out */
.banner3{
  background-color: #E7E7E7;
}

.banner3 .title{
  text-align: center;
  padding: 2rem 0;
}

.banner3 .blocks{
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.banner3 .block{
  max-width: 300px;
}

.banner3 img{
  width: 100%;
}

.banner3 .texts{
  max-width: 100%;
  background: white;
  padding: 1rem;
  height: 12rem;
  transition: background .15s ease-in-out;
}

.banner3 .texts .text{
  flex: 1 1 auto;
}

.banner3 .texts:hover{
  background: #E4D6D6;
}

.banner3 .row{
  padding: 0 5rem 2rem 5rem;
}

/* Fourth banner lay out */
.banner4 .title{
  text-align: center;
  padding-top: 2rem;
}

.banner4 .left .video{
  max-width: 100%;
}

.banner4 video{
  width: 100%;
}

.banner4 .left .texts div:nth-child(2){
  padding-bottom: 2rem;
}

/* Footer lay out */
footer {
  align-items: center;
  background-color: #E4D6D6;
  height: 4rem;
}

footer .texts2 .text{
  margin-left: .5rem;
  transition: text-decoration 0.15s ease-in-out;
}

footer .texts2 .text:hover{
  text-decoration: underline;
}

/* Desktop size */
@media only screen and (min-width: 480px){
  .banner0, .nav-phone, .banner2 .phone{
    display: none;
  }

  .highlight{
    background-color: #E4D6D6;
  }

  .banner1 .texts{
    max-width: 80%;
  }

  .banner2 .right {
    margin-left: 1rem;
    margin-top: 0rem;
    padding-top: 1rem;
    border-left: 1px solid #E7E7E7;
  }

  .banner2 .right .block, .banner4 .right .block{
    height: 168px;
  }

  .banner2 .right .block{
    border-bottom: 1px solid #E7E7E7;
  }

  .banner3 .block{
    margin: 1rem;
    max-width: 300px;
  }

  .banner4 .right {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .banner4 .left .video{
    margin: 2rem 1rem 1.5rem 0;
  }
}

/* Ipad size */
@media only screen and (min-width: 480px) and (max-width: 961px){
  .banner3 .block{
    margin: 1rem;
    max-width: 400px;
  }

  .banner3 .row{
    padding: 0 2rem 2rem 2rem;
  }
}

/* Phone size */
@media only screen and (max-width: 480px){
  .flexcontainer{
    padding: 0px;
  }

  .nav-phone{
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
  }

  .banner0{
    height: 180px;
    width: 100%;
  }

  .banner0 img{
    width: 100%;
  }

  .banner1 .texts{
    max-width: 100%;
  }

  .banner1 .texts div:nth-child(1){
    padding: 2rem 0 0 0;
    max-width: 80%;
  }

  .banner1 .texts div:nth-child(2){
    padding: 2rem 0 1.5rem 0;
    max-width: 80%;
  }

  .banner1 .texts div:nth-child(3){
    margin: 0 1rem 2rem 0;
  }

  .logo-text, .nav, .banner1 .left, .banner2 .left, .banner2 .desktop, .banner3 .image,
  .banner3 .texts div:nth-child(1n + 2), .banner4 .right, .banner4 .left .texts, footer .texts2{
    display: none;
  }

  .banner2 .texts{
    margin-left: 2rem;
  }

  .banner2 .block, .banner3 .blocks{
    flex-direction: column;
  }

  .banner2 .right .image, .banner4 .left{
    width: 100%;
  }

  .banner2 .right .texts div:nth-child(1){
    padding-top: 1rem;
  }

  .banner2{
    padding-bottom: 2rem;
  }

  .banner3 .texts div:nth-child(1){
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .banner3 .blocks{
    align-items: center;
  }

  .banner3 .block{
    width: 300px;
    justify-content: center;
  }

  .banner3 .row{
    padding: 0 1rem 2rem 1rem;
  }

  .banner3 .texts{
    background: white;
    padding: 1rem;
    height: 50px;
    margin: 0.5rem;
    justify-content: center;
  }

  .banner4 .title{
    padding: 2rem;
  }

  .banner4 video{
    padding-bottom: 1.5rem;
  }

  footer .text{
    padding-left: 1rem;
  }
}
